@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    animation: 5s ease;
}
html{
    scroll-behavior: smooth;
    animation: 5s ease;
}
:root{
    --orange:#fe9800;
}
.top-btn{
    float: right;
    padding: 15px;
    background-color: #2b315fd7;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-size: 18px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 99;
    cursor: pointer;
    right: 20px;
    bottom: 30px;
    position: fixed;
}
.top-btn:hover{
    background-color: #2b315f;
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}
nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo{
    margin-left: 15px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.links{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-right: 8px;
    color: #2b315f;
}
.link{
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-right: 8px;
    font-size: 18px;
}
.link-section{
    display: flex;
}
.active{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 5px;
}
.link::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #2b315f;
    display: block;
    transition: 0.6s;
    border-radius: 20px;
}
.link:hover::after{
    width: 100%;
}
#login,#signup{
    border: none;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}
#login:hover,#signup:hover{
    transform: scale(1.05);
    transition: 0.35s ease-in-out;
}
#login{
    background-color: transparent;
    border: 0.5px solid #2b315f;
    letter-spacing: 0.5px;
}
#signup{
    background-color: hsl(233, 38%, 27%);
    color: white;
    letter-spacing: 0.5px;
}
.search-container{
    display: flex;
    align-items: center;
    position: relative;
}
.search{
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-input{
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0px;
    right: 0;
    outline: none;
    visibility: hidden;
    height: 17px;
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    transition: 0.5s ease-in-out;
    border: none;
    cursor: pointer;
    margin-right: 26px;
}
.search:focus ~ .search-input{
    width: 110px;
    background-color: aliceblue;
    color: black;
    transition: 0.5s ease-in-out;
    display: block;
    visibility: visible;
}
.search-input:focus{
    width: 110px;
    background-color: aliceblue;
    color: black;
    visibility: visible;
}
.search-input::placeholder{
    font-size: 14px;
    letter-spacing: 0.5px;
}
.search:focus{
    background-color: #2b315f;
    color: white;
}
#Menu,#cross{
    display: none;
    font-size: 20px;
    background-color: rgba(255, 166, 0, 0.377);
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    color: #2b315f;
}
::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #2b315f;
    border-radius: 2px;
}
.hero-section{
    background-image: url(images/heroimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.hero{
    background-image: radial-gradient(#2b315fc2,#2b315f64);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.btn1,.btn2{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn1{
    color: white;
    background-color: #2b315f;
}
.btn2{
    color: #2b315f;
    background-color: white;
    font-weight: 600;
}
.btn1:hover,.btn2:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.hero-content{
    padding: 30px;
}
.hero-head-sp{
    color: #fe9800;
}
.hero-head{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
}
.hero-content .hero-para{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #ffffff;
}

/*------------Features-----------------*/

.features{
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    flex-direction: row;
    display: flex;
    column-gap: 40px;
    row-gap: 30px;
    color: #2b315f;
}
.feature1{
    background-color: aliceblue;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feature1 i{
    font-size: 30px;
    height: 30px;
    width: 30px;
}
.feature1 h3{
    font-size:20px ;
    margin: 10px;
}
.feature1 p{
    font-size: 15px;
    height: 80%;
} 
.feature1:hover{
    background-color: #2b315f;
    color: #ffffff;
    transform: translateY(5px);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.212);
}

/*--------About-----------*/

.about-section{
    background-color: rgb(252, 243, 231);
}
.about{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #2b315f;
    margin-bottom: 0;
}
.about-content{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-content h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.about-content p{
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 15px;
}
.about-content h2{
    font-family:"SUSE", serif;
}
.about-content ul{
    list-style:none;
}
.about-content ul li{
    font-size: 15px;
    margin: 10px;
}
.about-img img{
    height: 350px;
    width: 550px;
}

/*---------Footer------------*/

.footer{
    background-color: #2b315f;
    color: white;
    font-family: "Nunito", serif;
}
.footer1{
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer1 h3{
    font-size: 22px;
}
.footer1 ul{
    margin: 5px;
    margin-top: 10px;
}
.footer1 ul li{
    list-style-type:none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
.footer1 ul li:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.contact-info i{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
.contact-info i:hover{
    transform: scale(1.05);
    background-color: white;
    color: #2b315f;
    transition: 0.3s ease-in-out;
}
.news-section h3{
    margin-bottom: 20px;
}
.news-section p{
    margin-bottom: 20px;
}
.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: white;
}
.news label{
    color: #2b315f;
    background-color: white;
    padding: 10px;
    font-size: 17px;
}
.news input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.line{
    margin: 20px;
    border: 0.5px solid rgba(195, 169, 169, 0.731);
}
.footer2{
    background-color: #2b315f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer2 p{
    margin: 10px;
    margin-left: 20px;
    color: rgba(241, 227, 227, 0.776);
}
.footer2-links{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.line2{
    margin: 5px;
    color: rgba(238, 225, 225, 0.42);
}


/*-------------popular--------------*/
.popular-section{
    padding: 30px;
    text-align: center;
}
.pop-head{
    font-size: 30px;
    color: #2b315f;
}
.pop-head::after{
    content: '';
    height: 2px;
    background-color: #2b315f;
    margin: 5px;
    margin-left: 35%;
    margin-right: 35%;
    display: block;
    width: 30%;
}
.pop-head:hover::after{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    transition: 0.6s ease-in-out;
}
#pop-center{
    transform: scale(1.07);
}
#pop-center:hover{
    transform: scale(1.08);
}
.pop-head:hover{
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}
.popular{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.pop1{
    width: 26%;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    background-color: aliceblue;
    color: #2b315f;
    box-shadow: 5px 5px 10px #2b315f92;
}
.pop1:hover{
    transform: scale(1.03);
    transition: 0.2s ease;
}
.pop-img img{
    height: 32%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pop-info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 12px;
}
.pop-info i{
    margin-right: 5px;
}
.info1{
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 33%;
    display: flex;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.info2{
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33%;
    border-top: 1px solid black;
}
.info3{
    height: 30px;
    align-items: center;
    text-align: center;
    width: 33%;
    justify-content: center;
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.rating i{
    color: rgb(219, 219, 24);
    margin-right: 3px;
}
.pop-content .pop-para{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.pop-content h3{
    font-size: 20px;
    margin: 10px;
}
.pop-content{
    height: 68%;
}


/*-------------Testimonials-----------*/
.testimonial-section{
    padding: 30px;
    text-align: center;
}
.testimonial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.review1{
    width: 30%;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 7px;
    height: 70%;
}
.testimonial img{
    aspect-ratio: 1/1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.review-img{
    width: 100%;
    background-color: #ffffff;
}
.test-head{
    margin: 5px;
    margin-top: 12px;
    font-size: 17px;
    color: #2b315f;
}
.test-para{
    margin: 5px;
}
.test-content{
    margin: 5px;
    font-style: italic;
    margin: 10px;
}

@media (max-width:800px) {
    .btn1,.btn2{
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin: 10px;
    }
    .hero-head{
        font-size: 40px;
    }
    .hero-content .hero-para{
        font-size: 17px;
    }
    .EduGuide .hero-section{
        height: 450px;
    }
    .link-section{
        display:none;
        flex-direction: column;
        align-items: center;
        height: 99vh;  
        position: absolute;
        width: 180px;
        right: -180px;
        background-color: #fe9800b1;
        color: white;
        top: 0;
        margin: none;
    }
    #cross{
        display: flex;
        width: 150px;
        background-color: transparent;
        padding:0px;
        justify-content: flex-end;
    }
    .link{
        display: block;
        margin-top: 10px;
    }
    .active{
        background-color: #2b315f;
    }
    .link::after{
        background-color: white;
    }
    #login,#signup{
        margin-top: 10px;
        color: white;
    }
    #Menu{
        display: block;
    }
    .features{
        margin: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        column-gap: 15px;
    }
    .feature1{
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .feature1 i{
        font-size: 25px;
        height: 25px;
        width: 25px;
    }
    .feature1 h3{
        font-size:18px ;
    }
    .feature1 p{
        font-size: 14px;
    } 
    .about{
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about-content{
        margin: 5px;
    }
    .about-content h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about-content p{
        margin-top: 13px;
        margin-bottom: 13px;
        font-size: 14px;
    }
    .about-content ul li{
        font-size: 14px;
        margin: 7px;
    }
    .about-img img{
        height: 260px;
        width: 400px;
    }
    .popular-section{
        padding: 10px;
    }
    .pop-head{
        font-size: 25px;
    }
    #pop-center{
        transform: scale(1.07);
    }
    #pop-center:hover{
        transform: scale(1.08);
    }
    .popular{
        padding: 0px;
        padding-top: 20px;
    }
    .pop1{
        width: 28%;
        border-radius: 5px;
        margin: 10px;
    }
    .pop-img img{
        height: 34%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .pop-info{
        margin-top: 8px;
        font-size: 10px;
    }
    .pop-info i{
        margin-right: 3px;
    }
    .info3{
        height: 30px;
        width: 34%;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
    .rating i{
        font-size: 14px;
    }
    .pop-content .pop-para{
        margin: 5px;
        padding: 5px;
        font-size: 14px;
    }
    .pop-content h3{
        font-size: 18px;
        margin: 5px;
    }
    .pop-content{
        height: 66%;
    }
    .testimonial-section{
        padding: 10px;
    }
    .testimonial{
        padding: 10px;
    }
    .review1{
        width: 31%;
        margin: 5px;
    }
    .testimonial img{
        height: 60px;
        width: 60px;
    }
    .test-head{
        margin-top: 10px;
        font-size: 15px;
    }
    .test-para{
        font-size: 12px;
    }
    .test-content{
        font-size: 14px;
        margin: 8px;
    }

    .footer1{
        padding: 20px
    }
    .footer1 h3{
        font-size: 20px;
    }
    .footer1 ul li{
        margin: 8px;
        font-size: 15px;
    }
    .contact-info i{
        padding: 8px;
        margin: 8px;
    }
    .news-section h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .news-section p{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .news label{
        padding: 5px;
        font-size: 15px;
    }
    .news input{
        padding: 8px;
        border-radius: 5px;
        border: none;
        width: 150px;
    }
    .news{
        width: 190px;
    }
    .line{
        margin: 10px;
    }
    .footer2{
        padding-bottom: 10px;
        font-size: 14px;
    }
}
@media (max-width:500px){
    .logo{
        height: 45px;
    }
    .EduGuide .hero-section{
        height: 300px;
    }
    .btn1,.btn2{
        padding: 8px;
        font-size: 11px;
        margin: 5px;
    }
    .hero-content{
        padding: 20px;
    }
    .hero-head{
        margin: 5px;
        margin-bottom: 20px;
        font-size: 30px;
        color: white;
    }
    .hero-content .hero-para{
        margin: 5px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .features{
        margin: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 15px;
    }
    .feature1{
        padding: 10px;
        width: 90%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .feature1 i{
        font-size: 20px;
        height: 20px;
        width: 20px;
    }
    .feature1 h3{
        font-size:18px ;
    }
    .feature1 p{
        font-size: 12px;
    } 
    /*--------About-----------*/
    .about{
        margin: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 2;
    }
    .about-section .about-back{
        background-image: url(images/About.png);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 100%;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        opacity: 0.3;
    }
    .about-content{
        z-index: 3;
    }
    .about-content h3{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about-content p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .about-content ul li{
        font-size: 13px;
        margin: 5px;
    }
    .about-img img{
        display: none;
    }
    
    /*---------Footer------------*/
    .footer1{
        padding: 20px;
        display: grid;
        align-items: first baseline;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }
    .list{
        margin: 0;
        width: 100%;
    }
    .footer1 h3{
        font-size: 18px;
    }
    .footer1 ul{
        margin: 5px;
        margin-top: 5px;
    }
    .footer1 ul li{
        margin: 5px;
        font-size: 13px;
        cursor: pointer;
    }
    .contact-info i{
        padding: 8px;
        font-size: 13px;
        margin: 4px;
    }
    .news-section{
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .news-section h3{
        margin-bottom: 10px;
    }
    .news-section p{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .news{
        width: 60%;
    }
    .news input{
        width: 82%;
    }
    .line{
        margin: 15px;
    }
    .footer2{
        padding-bottom: 10px;
    }
    
    .footer2 p{
        margin: 5px;
        font-size: 12px;
        margin-left: 10px;
    }
    .footer2-links{
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
    /*-------------popular--------------*/
    .popular-section{
        padding: 10px;
    }
    .pop-head{
        font-size: 25px;
    }
    #pop-center{
        transform: scale(1);
    }
    #pop-center:hover{
        transform: scale(1.03);
    }
    .popular{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .pop1{
        width: 80%;
        margin: 15px;
    }
    .pop-info i{
        font-size: 13px;
        margin-right: 5px;
    }
    .pop-content .pop-para{
        margin: 10px;
        padding: 10px;
        font-size: 13px;
    }
    .pop-content h3{
        font-size: 18px;
        margin: 10px;
    }
    
    /*-------------Testimonials-----------*/
    .testimonial-section{
        padding: 10px;
    }
    .testimonial{
        flex-direction: column;
        padding: 0px;
    }
    .review1{
        width: 80%;
        margin: 10px;
        height: 70%;
    }
}
@media (max-width:390px){
    .btn1,.btn2{
        padding: 7px;
        font-size: 10px;
        margin: 5px;
    }
    .hero-content{
        padding: 15px;
    }
    .hero-head{
        margin: 5px;
        margin-bottom: 15px;
        font-size: 25px;
    }
    .hero-content .hero-para{
        margin: 5px;
        margin-bottom: 15px;
        font-size: 12.5px;
    }
    .EduGuide .hero-section{
        height: 250px;
        align-items: center;
    }
    .logo{
        margin-left: 5px;
        height: 40px;
        overflow: hidden;
    }
    #Menu{
        padding: 8px;
        margin: 5px;
        font-size: 15px;
    }
    .search-input::placeholder{
        font-size: 12px;
    }
    .pop1{
        width: 85%;
        margin: 15px;
    }
    .popular{
        padding: 10px;
    }
    .footer1{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        text-align: center;
    }
    .footer1 ul li{
        margin: 10px;
    }
    .news{
        width: 80%;
    }
    .line2{
    margin: 1px;
    color: rgba(238, 225, 225, 0.42);
    }
}
